body{
  background-color: white;
  color: black;
  font-size: 16px;
  font-family: Arial,Helvetica,sans-serif;
  padding:0px;/* get rid of default padding*/
  margin:15px;
}
.purpose{
  color:black;
  margin-top: 30px;
  font-weight: bold;
  font-size: 18px;

}
.image-area{
  height: 100px;
  width: 200px;
}

.subtitle{
position: static;
left: 200px;
top: 20px;
font-size: 20px;
font-weight: bold;
color: black;

}

.input{
  float: right;
  position: absolute;
  right: 30px;
  top: 180px;
}

.entry_text{
  font-size: 15px;

}
.title{
  font-size: 15px;
}

.explain{
  font-size: 15px;
}


.table{
  text-align: center;
  border-collapse: collapse;
}

th, td {

  border-collapse: collapse;
  padding:8px;
}

table.DataFrame{
    border-collapse: collapse;
}

table{
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 50%;
}
th {
    background-color: #4CAF50;
    color: white;
    text-align: center;

}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color:#99e699;}


.message{

  font-size: 15px;
  color: #ff9999;
}
